.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

nav.nav.nav-root{
  padding: 0;
  overflow: hidden;
}

.nav.nav-root .nav {
  margin-bottom: 0;
}

.nav.nav-root > .nav > a {
  padding-left: 30px;
}

.nav.nav-root > .nav > .nav > a {
  padding-left: 45px;
}

.nav.nav-root > .nav > .nav > .nav > a {
  padding-left: 60px;
}

#navbarSupportedContent{
  z-index: 100;
}

#navbarSupportedContent.show{
  display: block !important;
}
